@import "./libs/open-props.min.css";
/* @import "./libs/normalize.min.css"; */

body {
  font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
  font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
}

main {
  width: var(--size-md);
  margin: auto;
}