<a href="#main-content">Skip to content</a>

<header role="banner">
  <a href="/" aria-label="{{ site.name }}">
    {{ site.name }}
  </a>

  <nav aria-label="Primary">
    <ul class="nav__list">
      {% for item in navigation.items %}
      <li>
        <a href="{{ item.url }}"
        {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
        >{{ item.text }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <nav aria-label="Primary">
    <ul>
      {% for item in collections.nav %}
      <li>
        <a href="{{ item.url }}" 
          {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
          >{{ item.data.title }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </nav>

  <p>Current page: {{ page.url }}</p>
  <p>baseHref: {{baseHref}}</p>
  <p>htmlBaseUrl: {{htmlBaseUrl}}</p>
  <p>{{ "/test/" | htmlBaseUrl }}</p>
  <p>{{ page.url | htmlBaseUrl }}</p>
 
</header>
<hr>